<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../utils/head', { title: 'Documentación'}) %>
</head>
<body>
  <%# Barra de Navegación %>
  <%- include('../components/navbar', { page: 'docs' }) %>

  <%# Aplicación Principal %>
  <main id="docs-main">
    <section id="docs-index">
      <h2><a href="#category">Categorías</a></h2>
      <ul>
        <li><a href="#post-category">Añadir Categoría</a></li>
        <li><a href="#get-categories">Lista de Categorías</a></li>
        <li><a href="#get-category">Obtener Categoría</a></li>
      </ul>
    </section>
    <section id="docs-section">
      <h1>Documentación</h1>

      <hr class="type-divisor" />

      <section id="category">
        <h2>Categorías</h2>
        <p>Estas rutas gestionan la creación, obtención, actulización y eliminación de categorías de productos de la tienda</p>
      </section>

      <hr class="big-divisor" />
      <%# Método para añadir una nueva categoría %>
      <%- include('../utils/docs/POST-Category') %>
      <hr class="big-divisor"/>
      <%# Método para listar detalles de categorías %>
      <%- include('../utils/docs/GET-Categories') %>
      <hr class="big-divisor" />
      <%# Método para obtener detalle de categoría %>
      <%- include('../utils/docs/GET-Category') %>
      <hr class="big-divisor" />

    </section>
  </main>

  <%# Scripts %>
  <%- include('../utils/scripts') %>
</body>
</html>